h1, h2, h3 {
  text-align: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container{
  padding: 50px;
}

.column {
  border: 1px solid black;
}

.todos {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-bottom: 10px;
  min-width: 405px;
}

.column {
  padding: 5px;
}

.main-title {
  margin-bottom: 10px;
}

.todo-title {

  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;

  &.default {
    background-color: grey;
  }

  &.important {
    background-color: red;
  }

  &.done {
    background-color: green;
  }
}

.empty-todos {
  text-align: center;
  font-weight: 700;
  flex: 1;
  border: 1px solid black;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
