<div class='wrapper'>
  <div class='container'>
    <h1 class='main-title'>Список задач</h1>

    <div class='todos' *ngIf='todoEntries.length; else empty'>
      <div class='column' *ngFor='let entry of todoEntries; trackBy: trackEntries'>
        <h3 class='todo-title' [ngClass]='entry[0]'>{{transformStatus(entry[0])}}</h3>
        <ul class='list'>
          <app-to-do-item
            (deleteTodo)='deleteTodo($event)'
            (changeStatus)='changeTodoStatus($event)'
            *ngFor='let todo of entry[1]; trackBy: trackTodos'
            [todo]='todo' />
        </ul>
      </div>
    </div>

    <ng-template #empty>
      <div class='todos'>
        <p class='empty-todos'>Нет таких туду</p>
      </div>
    </ng-template>

    <app-create-to-do (addNewTodo)='addNewTodo($event)'></app-create-to-do>
    <app-search
      (findTodo)='filterTodos($event)'
      (resetSearch)='resetTodos()' />
  </div>
</div>
